import pandas as pd

bhgdata = pd.read_excel("ssb-barnehager-2015-2023-alder-1-2-aar.xlsm", sheet_name="KOSandel120000",
                       header=3,
                       names=["kom","y15","y16","y17","y18","y19","y20","y21","y22","y23"],
                       na_values=[".", ".."])

import matplotlib.pyplot as plt



#hvilken kommune
valgt_kommune = "4203 Arendal" 
data_for_kommune = bhgdata[bhgdata["kom"] == valgt_kommune]

# Beregn prosentandel av barn 1 -2 år
prosent_barn = data_for_kommune[["y15", "y16", "y17", "y18", "y19", "y20", "y21", "y22", "y23"]].values.flatten()

# År
år = ["2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023"]

# Lag søylediagram
plt.figure(figsize=(10, 5))
plt.bar(år, prosent_barn, color="darkcyan")
plt.title("Prosent av barn i ett- og to-årsalderen i barnehagen for Arendal (2020-2023)")
plt.xlabel("År")
plt.ylabel("Prosent")
plt.xticks(rotation=45)
plt.grid(axis="y")
plt.tight_layout()

plt.show()
